@media (max-width: 1004px){
   .header__company{
      padding: 50px 0 25px;
      justify-content: center;
   }
   .header__company-item{
      margin-bottom: 40px;
   }
   .header__company-item{
      margin-left: 40px;
   }
}
@media (max-width: 960px){
   .header__text,
   .footer__bottom-text{
      display: none;
   }
   .header__company{
      margin-bottom: 20px;
   }
   
}
@media (max-width: 880px){
   .automat-system__item{
      width: 100%;
   }
   .numbers__inner{
      display: block;
      padding: 50px 0;
   }
   .numbers__left,
   .numbers__rigth{
      display: block;
      width: 100%;
   }
   .numbers__left{
      margin-bottom: 20px;
   }
   .numbers__item:first-child::before{
      display: none;
   }
   .numbers__item-number{
      padding-left: 0;
   }
   .numbers__item{
      width: 100%;
   }
}

@media (max-width: 760px){
 
   .menu__btn {
      display: block;
      width: 30px;
      cursor: pointer;
      div {
         background-color: #0c4c8a;
         height: 3px;
         & + div {
            margin-top: 5px;
         }
      }
   }
   .menu__list-top {
      display: none;
      padding: 25px 0;
      background-color: #0c4c8a;
      position: absolute;
      left: 0;
      right: 0;
      top: 170px;
      z-index: 10;
      li {
         display: block;
         text-align: center;
         border-bottom: 1px solid #fff;
         &:first-child{
            border-top: 1px solid #fff;
         }

         & + li {
            margin-left: 0;
            margin-top: 5px;
            
         }
         a {
            display: block;
            color: #fff;
         }
      }
   }
   .header__btn{
      display: none;
   }
   .header__content {
      min-height: 400px;
   }
   .header__content-box {
      padding-top: 60px;
   }
   .header__box-title,
   .geography__title {
      font-size: 45px;
   }
   .header__box-text{
      font-size: 15px;
   }
   .geography__text{
      font-size: 15px;
   }


}
@media (max-width: 560px){
   .menu{
      padding: 0;
   }
   .header__info{
      display: none;
   }
   .footer__info{
      display: block;
      margin-top: 15px;
   }
   .menu__btn{
      position: absolute;
      top: 35px;
      right: 15px;
   }
   .menu__list-top{
      top: 90px;
   }
   .footer__top{
      display: block;
      
   }
   .footer__bottom{
      display: block;
   }
   
   .footer__bottom-adderss{
      margin-top: 21px;
      max-width: 100%;
      padding: 26px 0;
      text-align: left;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
   }
   .automat-system__title {
      font-size: 30px;
      margin-bottom: 40px;
   }
   .automat-system__item{
      margin-bottom: 50px;
   }
   .automat-system__item-title{
      font-size: 20px;
   }
   .automat-system__item-text{
      font-size: 14px;
   }
}
@media (max-width: 450px){
   .automat-system {
      padding: 40px 0;
  }
   .automat-system__title {
      font-size: 30px;
      margin-bottom: 30px;
   }
}
@media (max-width: 380px){
   .header__content {
      min-height: 350px;
  }
   .header__box-title,
   .geography__title,
   .numbers__left-title {
      font-size: 35px;
   }
   .numbers__left-text{
      font-size: 15px;
   }
   .header__box-text {
      font-size: 15px;
   }
   .geography__btn{
      button{
         width: 100%;
      }
   }
   
}






@media (min-width: 761px) {
   .menu__list-top {
      display: flex !important;
   }
}