@import "vars";
@import "fonts";
@import "reset";
@import "global";

//start header
.header__inner {
   display: flex;
   padding: 26px 0;
   justify-content: space-between;
   border-bottom: 1px solid #c4c4c4;
}
.header__box-wrapper {
   display: flex;
   align-items: center;
}
.header__text {
   width: 181px;
   margin-left: 46px;
}
.header__info {
   &-phone {
      position: relative;
      &::after {
         content: "";
         position: absolute;
         background-image: url(../images/phone.svg);
         background-repeat: no-repeat;
         width: 27px;
         height: 27px;
         left: -6px;
      }
   }
   &-mail {
      position: relative;
      &::after {
         content: "";
         position: absolute;
         background-image: url(../images/mail.svg);
         background-repeat: no-repeat;
         width: 20px;
         height: 20px;
         left: 0;
      }
   }
   a {
      display: block;
      padding-left: 32px;
      font-size: 14px;
      line-height: 17px;
      color: #000;
      & + a {
         margin-top: 9px;
      }
   }
}
.header__btn {
   margin-left: 41px;
   button {
      color: #fff;
      background-color: #0c4c8a;
   }
}
.menu{

   padding: 37px 0;
}
.menu__list {
   display: flex;
   justify-content: space-evenly;
   
   
   a {
      font-size: 20px;
      line-height: 24px;
      color: #0c4c8a;
      font-weight: 700;
   }
}
.header__content {
   min-height: 525px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   &-box {
      padding-top: 135px;
      margin-left: 115px;
      color: #fff;
   }
}
.header__box-title {
   font-size: 55px;
   font-weight: 700;
   line-height: 136.4%;
   margin-bottom: 30px;
}
.header__box-text {
   font-size: 20px;
   line-height: 150%;
   width: 417px;
}
.header__company {
   padding: 78px 0;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   margin-bottom: 48px;
   img {
      background-size: cover;
   }
}
//end header
//start automat-system
.automat-system {
   background-color: #f6f6f6;
   padding: 63px 0;
   &__title {
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
      color: #383838;
      max-width: 695px;
      margin-bottom: 76px;
   }
}
.automat-system__inner {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 120px 53px;
   
}
.automat-system__item {
   &-title {
      height: 70px;
      padding-left: 110px;
      padding-bottom: 30px;
      margin-bottom: 70px;
      font-size: 24px;
      line-height: 29px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         width: 70px;
         height: 70px;
         left: 0;
         top: 0;
         background-repeat: no-repeat;
      }
      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: -30px;
         width: 150px;
         height: 2px;
         background-color: #0c4c8a;
      }
   }
   &-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #464646;
   }
}

.item__title--icon-1::before {
   background-image: url(../images/item-1.svg);
}
.item__title--icon-2::before {
   background-image: url(../images/item-2.svg);
}
.item__title--icon-3::before {
   background-image: url(../images/item-3.svg);
}
.item__title--icon-4::before {
   background-image: url(../images/item-4.svg);
}
//end automat-system
//start geography
.geography {
   min-height: 529px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   &__wrapper {
      padding: 66px 0 88px 100px;
      color: #fff;
      font-size: 18px;
      line-height: 22px;
   }
}
.geography {
   &__title {
      font-size: 48px;
      line-height: 59px;
      font-weight: 700;
      margin-bottom: 30px;
   }
   &__text {
      max-width: 486px;
      p {
         font-weight: 600;
         margin-bottom: 30px;
         & + p {
            font-weight: 400;
         }
      }
   }
}
//end geography
//start numbers
.numbers {
   background-color: #f6f6f6;
   &__inner {
      padding: 100px 120px 100px 100px;
      display: flex;
      justify-content: space-between;
   }
}
.numbers__left {
   max-width: 370px;
   &-title {
      color: #383838;
      width: 280px;
      font-size: 48px;
      line-height: 59px;
      font-weight: 700;
      padding-bottom: 13px;
      margin-bottom: 30px;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0px;
         width: 150px;
         height: 2px;
         background-color: #0c4c8a;
      }
   }
   &-text {
      font-size: 20px;
      line-height: 24px;
      color: #464646;
   }
}
.numbers__rigth {
   display: flex;
   flex-wrap: wrap;
   width: 50%;
}
.numbers__item {
   max-width: 200px;
   &:first-child {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         width: 25px;
         height: 129px;
         background: #c4c4c4;
         bottom: 0;
         left: -26px;
      }
   }
   &-number {
      padding-left: 16px;
      font-weight: 700;
      font-size: 72px;
      line-height: 88px;
      color: #0c4c8a;
   }
   &-text {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #464646;
   }
}
//end numbers
//start footer
.footer {
   background-color: #0c4c8a;
}
.footer__top {
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 26px;
   border-bottom: 1px solid #fff;
   margin-bottom: 21px;
   a {
      color: #fff;
   }
}
.footer__info-phone::after {
   background-image: url(../images/phone-footer.svg);
}
.footer__info-mail::after {
   background-image: url(../images/mail-footer.svg);
}
.footer__bottom {
   margin-bottom: 25px;
   display: flex;
   justify-content: space-between;
}
.footer__bottom-box {
   display: flex;
}
.footer__menu {
   margin-right: 120px;
}
.footer__list {
   border: none;
   display: block;
   padding: 0;
   margin-bottom: 0;
   li + li {
      margin-top: 12px;
   }
   a {
      color: #a7a9ac;
   }
}
.footer__bottom-text,
.footer__bottom-adderss {
   max-width: 198px;
   line-height: 170.4%;
   font-size: 14px;
   color: #fff;
}
.footer__bottom-adderss{

   text-align: right;
}
.footer__copy {
   padding-bottom: 30px;
   font-size: 10px;
   line-height: 12px;
   color: #e7e7e7;
}
//end footer

@import "midia";
